.boton{
    background-color: var(--text);
    color: var(--bg);
    border: none;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid var(--text);
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px;
}
.boton:hover{
    background-color: #d3b000;
}
.boton:active{
    background-color: #a58900;
}